@import "src/styles";

.main-header {
  h1 {
    font-size: 3.063rem;
    font-weight: lighter;
    & span {
      font-size: 1.5rem;
      color: $royal-blue-0;
    }
  }
  p {
    line-height: 35px;
    font-family: $font-major-mono-display;
  }
}

.btn-icon-box {
  border-radius: 5px;
  background-color: $grey-0;
  height: 95%;
  padding: 5px;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a {
    padding: 10px;
    transition: .9s;
    cursor: pointer;
    i {
      height: 25px;
      width: 25px;
      color: $grey-800;
    }
    &:hover i {
      transition: .9s;
      transform: scale(1.2);
      color: $white-0;
      opacity: 1;
    }
  }
  &:hover {
    background-color: $grey-300;
    transform: scale(1.1);
  }
}

@media (max-width: 576px) {
  .main-col {
    display: block;
  }

  .btn-icon-box {
    flex-direction: row;
    height: auto;
  }
}
