<div class="row">
  <div class="col-md-12 vh-100 vw-100 d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 p-5 gap-5 main-col">
        <div class="d-flex flex-column main-header">
          <h1><span>Hi,</span> <br>
            I'm Victor Munoz F.
          </h1>
          <p>Angular \ CSS \ Ionic \ Flutter \ WordPress<br>
            <i class="bi bi-geo-alt-fill"></i> Temuco, Chile <br>
          2025</p>
        </div>
        <div class="btn-icon-box shadow">
          <a href="https://www.instagram.com/svgvr_/" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/victor-mu%C3%B1oz-f/" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="mailto:victor@vmunoz.dev">
            <i class="bi bi-envelope-at"></i>
          </a>
          <a (click)="openScrollableContent(longContent)">
            <i class="bi bi-file-earmark-arrow-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">My experience</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-modal-cv></app-modal-cv>
  </div>
</ng-template>
