<div class="row">
  <div class="col-md-10">
    ola
  </div>
  <div class="col-md-2 d-flex gap-3">
    <a class="btn btn-secondary" onclick="ga('send','event','Download','PDF', this.href);"
       href="https://vmunoz.dev/download/cv-vmunoz-es.pdf" download="cv-vmunoz-es.pdf"
       target="_blank">ES</a>
    <a class="btn btn-secondary" onclick="ga('send','event','Download','PDF', this.href);"
       href="https://vmunoz.dev/download/cv-vmunoz-en.pdf" download="cv-vmunoz-en.pdf"
       target="_blank">EN</a>
  </div>
</div>
