<div class="row">
  <div class="col-accordion">
    <app-accordion-cv (clickEvent)="handleClickEvent($event)"></app-accordion-cv>
  </div>
  <div class="col-info">
    <div class="info-box">
      <ng-container *ngIf="defaultInfo">
        <p>
          Select any option
        </p>
      </ng-container>

      <ng-container *ngIf="nttBci">
        <div class="icon-box">
          <img src="{{urlNttDataLogo}}" alt="nttdata icon">
          <img src="{{urlBciWholesaleInvestLogo}}" alt="BCI Wholesale & Investment Logotype">
        </div>
        <p>
          Contributed to the creation of the internal key project ‘e-sales’, a business-oriented
          software for sell/buy stock though one of major banks in Chile, BCI Bank.
        </p>
      </ng-container>

      <ng-container *ngIf="nttClinica1">
        <div class="icon-box">
          <img src="{{urlNttDataLogo}}" alt="NTT Data Logotype">
          <img src="{{urlClinicaLogo}}" alt="Clinica Alemana Logotype">
        </div>
        <p>
          Facilitated the refactoring of components from Storybook to Angular Components
          and played a pivotal role in constructing web pages at Clínica Alemana,
          collaborating closely with the Design Experience Team.
        </p>
      </ng-container>

      <ng-container *ngIf="nttIadb">
        <div class="icon-box">
          <img src="{{urlNttDataLogo}}" alt="NTT Data Logotype">
          <img src="{{urlIdbLogo}}" alt="Inter-American Development Bank Logotype">
        </div>
        <p>
          Led the development of the new site for APC service for the Inter-American
          Development Bank, by creating and applying different proof of concepts to make
          crucial decisions for the website construction.
        </p>
      </ng-container>

      <ng-container *ngIf="nttAvangrid">
        <div class="icon-box">
          <img src="{{urlNttDataLogo}}" alt="NTT Data Logotype">
          <img src="{{urlAvangridLogo}}" alt="Avangrid Logotype">
        </div>
        <p>
          Solving visual and structure problems involved in the migration of nine websites from IBM WebSphere
          to Liferay CMS.
        </p>
      </ng-container>

      <ng-container *ngIf="nttSantander">
        <div class="icon-box">
          <img src="{{urlNttDataLogo}}" alt="NTT Data Logotype">
          <img src="{{urlSantanderAmLogo}}" alt="Santander Asset Management Logotype">
        </div>
        <p>
          Developing a new web site to Santander Asset Management using Liferay 7.2.
        </p>
      </ng-container>

      <ng-container *ngIf="nttClinica2">
        <div class="icon-box">
          <img src="{{urlNttDataLogo}}" alt="NTT Data Logotype">
          <img src="{{urlClinicaLogo}}" alt="Clinica Alemana Logotype">
        </div>
        <p>
          I provided support in prototyping for a team involved in restructuring modules such as Dentistry and Oncology.
        </p>
      </ng-container>

      <ng-container *ngIf="nttMovistar">
        <div class="icon-box">
          <img src="{{urlNttDataLogo}}" alt="NTT Data Logotype">
          <img src="{{urlMovistarEmpresasLogo}}" alt="Movistar Empresas Logotype">
        </div>
        <p>
          Constructing an incredible new front-end for the payment module. Also, I had the
          responsibility of defining the use of styles on the project, carrying out best
          practices, and constantly applying QA to the new developments to ensure their
          quality and proper application of the guidelines.
        </p>
      </ng-container>

      <ng-container *ngIf="freelance">
        <p>
          As a freelancer, I designed, developed, and maintained WordPress websites for small contracting companies.
        </p>
      </ng-container>

      <ng-container *ngIf="educationInacap">
        <p>
          Graduated with diploma in Programmer Analyst program.
        </p>
      </ng-container>
    </div>

    <div class="info-box-btns">
      <button class="btn btn-vmunoz" (click)="downloadPDF('https://vmunoz.dev/assets/pdf/cv-vmunoz-es.pdf', 'cv-vmunoz-es.pdf')">
        <i class="bi bi-file-earmark-arrow-down"></i> ES
      </button>
      <button class="btn btn-vmunoz" (click)="downloadPDF('https://vmunoz.dev/assets/pdf/resume-vmunoz.pdf', 'resume-vmunoz.pdf')">
        <i class="bi bi-file-earmark-arrow-down-fill"></i> EN
      </button>
    </div>
  </div>
</div>

