@import 'src/styles';

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 330px;
  padding: 16px;
  height: 540px;
  overflow: auto;
  background-color: transparent;
  .accordion-main-item {
    .accordion-header {
      .accordion-button {
        display: flex;
        gap: 10px;
        background-color: $grey-300;
        color: $white-0;
        box-shadow: none;
      }
      &.collapsed {
        .accordion-button {
          background-color: $grey-0;
          color: $grey-700;
        }
      }
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    transition: all ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    gap: 5px;
    li {
      min-height: 48px;
      display: flex;
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      p {
        color: $grey-200;
        padding: 0 10px;
        height: auto;
        display: flex;
        margin-bottom: 0;
        font-size: 0.75rem;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        span {
          font-weight: bold;
        }
      }
      &:hover {
        color: $grey-700;
        background-color: $grey-0;
        p {
          color: $grey-700;
          width: 100%;
        }
      }
    }
  }

}
