@import "bootstrap-icons";

$primary-item: #3B3E40;
$background-item-open: #cccccc; // Background del acordeon abierto
$background-item-close: #a9a9a9;
$gray: #D5D4D5;
$background: #2C2C2C;
$item-non-hover: #92969A;

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 330px;
  padding: 16px;
  height: 540px;
  overflow: auto;
  background-color: transparent;
  .accordion-main-item {
    .accordion-header {
      .accordion-button {
        display: flex;
        gap: 10px;
        background-color: $background-item-close;
        color: #fff;
        box-shadow: none;
      }
      &.collapsed {
        .accordion-button {
          background-color: $background-item-open;
          color: $primary-item;
        }
      }
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    transition: all ease-in-out 0.2s;
    li {
      min-height: 48px;
      display: flex;
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      p {
        color: $item-non-hover;
        padding: 0 10px;
        height: auto;
        display: flex;
        margin-bottom: 0;
        font-size: 12px;
        align-items: center;
      }
      transition: background-color 0.2s ease;
      &:hover {
        color: $primary-item;
        font-weight: 700;
        background-color: $background-item-open;
        p {
          font-size: 14px;
          color: $primary-item;
          width: 100%;
        }
      }
    }
  }

}
