/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento vertical */
  height: 10px; /* Ancho de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #6c6c6c; /* Color del "pulgar" de la barra */
  border-radius: 5px; /* Redondear los bordes del pulgar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del fondo de la barra */
}

/* Cambiar el color cuando el usuario interactúa con la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background-color: #313131; /* Color del pulgar en estado hover */
}
