/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  background-color: rgb(233, 233, 233) !important;
  color: #313131 !important;
  font-family: 'Fira Mono', monospace;
}

h1 {
  font-size: 3.3em;
  & span {
    font-size: 0.5em;
  }
  & + p {
    font-family: 'Major Mono Display', monospace;
    line-height: 35px;
  }
}
