/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(233, 233, 233) !important;
  color: #313131 !important;
}

h1 {
  font-size: 3.3em;
  font-family: 'Fira Mono', monospace;
}

h1 span {
  font-size: 0.5em;
}

p {
  font-family: 'Major Mono Display', monospace;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
