/** ========== COLORS ========== */
$white-0: #ffffff;
$white-150: #E9E9E9FF;

$grey-0: #CFCFCFFF;
$grey-200: #92969A;
$grey-300: #6c6c6c;
$grey-700: #3B3E40;
$grey-800: #2C2C2C;

$royal-blue-0: #526FFF;

/** ========== FONTS ========== */
$font-fira-mono: "Fira Mono", monospace;
$font-major-mono-display: "Major Mono Display", monospace;
